{% extends 'base.html.twig' %}

{% block title %}Chaque Categorie par Slug!{% endblock %}

{% block body %}

<div class="container "> 
                    <h1>Nom de la Catégorie: <strong>{{ category.name }}</strong></h1> 
                        {% if category.products is empty %}
                            <h4 class="mt-5 ">Aucune catégorie trouvée.</h4>
                        {% else %}
                          {% for product in category.products %}
                                <div class="col-12">
                                        <div class="col-md-3">
                                                <div class="card mb-3">                              
                                                        <img src="/uploads/products/{{ product.illustration }}" alt="{{ product.name }}">
                                                </div>
                                        </div>
                                        <p>{{ category.slug }}</p>
                                    
                                        <a href="{{ path('app_product', {'slug': product.slug}) }}">Voir le produit</a>
                                    </div>  
                                </div>
                        {% endfor %}
                       
                        {% endif %}
</div>
{% endblock %}
